body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    /* background: rgb(245, 252, 252); */
    position: relative;
    background-position: center;
    
   
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .header {
    margin: 0%;
    padding: 0px;
    width: 100%; 
    background-color: white;
     color: black;
    display: block;
    background-color: orange;
    text-align: center;
    
    border-radius: 20px;
  }
  .cen {
   
    text-align: center;
  }
  .cen h2 h3 {
    /* padding-left: 100px;
    margin-left: 100px; */
    color: white;
    text-shadow: 2px 2px #1b1b1b;
    text-align: center;
  }
  .logo {
    width: 100px;
    height: 60px;
  }
  .list {
    padding: 0;
    font-style: oblique;
    font-weight: bold;
  }
  .list li {
    display: inline-block;
    margin: 0px 15px 30px 15px;
  }
  .list li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: white;
    border: 4px solid rgb(238, 237, 237);
    border-radius: 11px;
  }
  img {
    vertical-align: middle;
    height: 500px;
    border-radius: 9px;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 4px solid rgb(238, 237, 237);
    border-radius: 9px;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 0s;
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px
    }
  }
  .gre {
    color: green;
    font-size: large;
  }
  .texta {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    align-content: center;
    background-color: white;
  }
  .about {
    background-color: rgb(37, 16, 221);
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(204, 204, 204);
    margin: 50px;
    padding: 10px;
  }
  .foot {
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
  }
  .cont {
    background-color: black;
    border-radius: 9PX 9PX 0PX 0PX;
  }
  #ph {
    font-size: 14px;
    border: 1px solid grey;
    color: white;
    background-color: black;
    padding: 6px;
    margin: 3px;
  }
  .ph {
    font-size: 14px;
    color: grey;
  }
  .spa {
    padding-left: 35px;
  }
  .pho {
    color: orange;
    text-align: center;
    
  }
  .conta {
    
    font-weight: bold;
  }
  .cont-head {
    color: rgb(7, 66, 143)
  }
  .foot1 {
    font-size: medium;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    color: black;
  }
  .conta {
    background-color: rgb(245, 245, 200);
    padding: 40px;
    margin: 14px;
    border-radius: 20px;
    border: 4px solid rgb(214, 212, 212);
    
  }

  .conta1{
    backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
      
  }
  .topnav {
    overflow: hidden;
    background-color: #bdedcf;
    padding: .5em;
    width: 80%;
    margin: 20px 50px;
    border-radius: 9px;
    border: 4px solid rgb(238, 237, 237);
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  .topnav .search-container {
    float: left;
    padding: 10px;
  }
  .topnav input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 9px;
  }
  .topnav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    color: white;
    background-color: blue;
    font-weight: bold;
  }
  .topnav .search-container button:hover {
    background: #ccc;
  }
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a,
    .topnav input,
    .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input {
      border: 1px solid #ccc;
    }
    .search-container label {
      font-weight: bold;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  a:hover {
    cursor: pointer;
  }
  .center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
/* 
............. */


*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
}
body{
    font-family: 'lato', sans-serif;
    color: #454545;
    font-weight: 300;
    background: #ffffff;
}
a{
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
a:hover,
a:focus{
    outline: none;
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0 0 15px 0;
    color: black;
    font-weight: 300;
}

img{
    width: 100%;
    height: auto;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}
.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background-color: #50c5fc;
    bottom: -5px;

}
.container .section-title h1::before{
    left: 30%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
.team{
    margin-bottom:30px ;
}
.team .team-img{
    position: relative;
    font-size: 0;
    text-align: center;
}
.team .team-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.team .team-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f8f9fa;
    border-radius: 10px;
}
.team .team-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
}
.team .team-content h3{
    font-size: 16px;
    font-weight: 300;
}
.team .team-content h4{
    font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.team .team-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.team .team-social{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}
.team:hover .team-social{
    opacity: 1;
}
.team .team-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:5px ;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}
.team .team-social a.social-tw{
    background: #00acee;
}
.team .team-social a.social-fb{
    background: #3b5998;
}
.team .team-social a.social-li{
    background: #0e76a8;
}
.team .team-social a.social-in{
    background: #3f729b;
}
.team .team-social a.social-yt{
    background: #c4302b;
}
.team .team-social a:last-child{
    margin-right: 0;
}
.team:hover .team-social a{
    margin-top: 0;
}
.team .team-social a:hover{
    background: #222222;
}



@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .column{
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .column{
        max-width: 33.333333%;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .column{
        max-width: 25%;
    }
}
 @media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
   
}  
